<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark-secondary">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav ml-right links-group">
          <li class="nav-item active">
            <a class="nav-link text-uppercase font-weight-100 letter-spacing-4px" class="links" routerLink="/home">Home

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase font-weight-100 letter-spacing-4px" class="links" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase font-weight-100 letter-spacing-4px" class="links" routerLink="/registration">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase font-weight-100 letter-spacing-4px" class="links" routerLink="/about">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <section class="background grid grid-center" id="showcase-background-1">
    <div class="container text-white">
      <h2 class="display-2 mb-3" class="title">Mobi-Comm Services Ltd. Portal</h2>
      <h2 class="display-2 mb-3">Make Recharge Now!</h2>
      <h5 class="small">Best Place for all your recharge!! Easy and Fast !!</h5>

      <a class="pr-5 pl-5 pt-2 pb-2 text-white btn text-uppercase font-weight-bold btn-gradient" routerLink="/login">Get Started</a>
    </div>
  </section>

</main>

