<div class="container mt-5">
  <form [formGroup]="searchGroup">
    <div class="form-group">
      <input placeholder="Search" type="number" formControlName="p" class="form-control" id="search"  />
      <button (click)="searchByPrice()" class="btn btn-info">Search</button>
    </div>
    <div>
      <button class="btn btn-primary addaddon" routerLink="/admin/addaddon">+ Add New</button>
    </div>
  </form>


  <div class="card custom-card" *ngFor="let addon of addonList">
    <div class="card-body">
      <!-- Plan Name, Plan Price, Unlimited Calls -->
      <div>
        <h5 class="card-title">{{ addon.addonName }}</h5>
        <p class="card-text">Addon Price: <b>{{ addon.addonPrice | currency:'INR' }}</b></p>
        <p class="card-text">Note: This Offers gets has high internet speed.</p>
      </div>

      <!-- Plan Details, Plan Validity, and Arrow -->
      <div class="plan-details">
        <p class="card-text">Details    :   {{ addon.addonDetails}}</p>
        <p class="card-text">Validity   :   {{ addon.addonValidity }} Days</p>
      </div>

      <div class="arrow">
        <button class="btn btn-primary" (click)="edit(addon.addonId)"  >Edit</button>
        <button class="btn btn-danger" (click)="delete(addon.addonId)"  >Delete</button>
      </div>
    </div>
  </div>
</div>
