.container {
  background-color: rgb(166, 158, 158);
  padding: 40px;
  border-radius: 20px;
  width: 100%;
}


.sub-container {
  display: flex;
  flex-direction: row;


}

.form-group {
  margin-right: 78px;
}

.form {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}

input {
  margin-bottom: 50px;
}

button {
  width: 47%;
  margin-left:284px ;
}
