<div class="main">
  <div class="container">
    <h1>Registration</h1><br>
    <form [formGroup]="registrationForm" class="form">
      <div class="form-group">
        <input type="email" formControlName="email" class="form-control" placeholder="Enter Your Email" />
        <div class="error" *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched ">
          <div *ngIf="registrationForm.get('email').hasError('required')">
            Email is required.
          </div>
          <div *ngIf="registrationForm.get('email').hasError('email')">
            Please enter a valid email address.
          </div>
        </div>

        <input type="text" formControlName="username" class="form-control" placeholder="Enter Username" />
        <div class="error"
          *ngIf="registrationForm.get('username').invalid && registrationForm.get('username').touched ">
          <div *ngIf="registrationForm.get('username').hasError('required')">
            Username is required.
          </div>
          <div *ngIf="registrationForm.get('username').hasError('minlength')">
            Username must be at least 3 characters long.
          </div>
        </div>


        <input type="number" formControlName="mobileNumber" class="form-control"
          placeholder="Enter Your Mobile Number" />

        <div class="error"
          *ngIf="registrationForm.get('mobileNumber').invalid && registrationForm.get('mobileNumber').touched ">
          <div *ngIf="registrationForm.get('mobileNumber').hasError('required')">
            Mobile Number is required.
          </div>
          <div *ngIf="registrationForm.get('mobileNumber').hasError('maxlength')">
            Please enter a valid 10-digit mobile number.
          </div>

        </div>


        <input type="password" formControlName="password" class="form-control" placeholder="Enter Password" />

        <div class="error"
          *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched ">
          <div *ngIf="registrationForm.get('password').hasError('required')">
            Password is required.
          </div>
          <div *ngIf="registrationForm.get('password').hasError('minlength')">
            Password must be at least 3 characters long.
          </div>
          <div *ngIf="registrationForm.get('password').hasError('pattern')">
            Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.
          </div>
        </div>


        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" />
        <div class="error"
          *ngIf="registrationForm.get('confirmPassword').invalid && registrationForm.get('confirmPassword').touched ">
          <div *ngIf="registrationForm.get('confirmPassword').hasError('passwordMismatch')">
            Passwords do not match.
          </div>
        </div>

        <label for="userRole">
          <h6>Role : </h6>
        </label>
        <select formControlName="userRole" class="form-select" id="userRole" name="userRole">
          <option value="USER" selected>USER</option>
          <option value="ADMIN">ADMIN</option>
        </select>

        <button class="btn btn-primary" [disabled]="registrationForm.invalid" (click)="submit(registrationForm.value)">Register</button>
        <span>Alredy User ? <a routerLink="/login"><small><b>Login</b></small></a></span>
      </div>
    </form>
  </div>
</div>
