<div class="main">
  <div class="container">
    <h1>Login</h1><br>
    <form [formGroup]="loginForm" class="form">
      <div class="form-group">
        <input type="email" formControlName="email" class="form-control" placeholder="Enter Your Email"/>
        <input type="password" formControlName="password" class="form-control" placeholder="Enter Password"/>

        <button class="btn btn-primary" (click)="login()" >Login</button>
        <span>New User ?  <a routerLink="/registration"><small><b>Register</b></small></a></span>
      </div>
    </form>
  </div>
</div>
